.getoutgetin-section {
  padding: 60px 20px;
  background-color: #FEFAEF;
  position: relative;
  z-index: 10;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

.getoutgetin-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FEFAEF;
  opacity: 1;
  z-index: -1;
}

.getoutgetin-title {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #1E1E1E;
}

.getoutgetin-title .getouthighlight {
  color: #FFC365
}

.getoutgetin-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto 50px;
  color: #1E1E1E;
}

.getoutgetin-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 280px;
  margin-top: 20px;
  text-align: left;
}

.getoutgetin-image {
  width: 350px;
  display: flex;
  justify-content: center;
}

.getoutgetin-image img {
  width: 100%;
  max-width: 100%;
}

.getoutgetin-content {
  font-family: 'Montserrat', sans-serif;
  width: 300px;
}

/* ===================== CONTACT BLOCK ===================== */

.getoutcontact-block {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: nowrap;
}

.getoutcontact-icon {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}

.getoutcontact-icon img {
  width: 40px;
  height: 40px;
}

.getoutcontact-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
}

.getoutcontact-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: #1E1E1E;
}

.getoutcontact-description {
  font-size: 16px;
  color: #1E1E1E;
  margin-top: 5px;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.5;
  width: 100%;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
}

/* ===================== CHAT BUTTON ===================== */

.getoutchat-button {
  background: radial-gradient(circle, rgba(255, 217, 113, 1) 0%, rgba(186, 137, 4, 1) 100%);
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  color: #222;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 15px;
  margin-left: 60px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .getoutyour-class {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .getoutyour-class {
    padding-top: 10px;
  }
}

@media (max-width: 980px) {
  .getoutgetin-container {
    gap: 120px;
  }
}

@media (max-width: 768px) {
  .getoutgetin-image {
    width: 250px;
  }

  .getoutgetin-image img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .getoutgetin-image {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .getoutgetin-container {
    flex-direction: column;
    align-items: center;
  }

  .getoutchat-button {
    display: block;
    margin: auto;
  }
}
