@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.service-about-hero-sectionn {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 552px;
  background: white;
  z-index: 20;
}

.service-about-hero-sectionn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba(247, 181, 0, 0.3);
  z-index: 2;
}

.service-about-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% -10%, 50% 100%, 0% 100%);
  z-index: 2;
  opacity: 1;
  background-color: #ffff;
}

.service-about-background-img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  object-fit: contain;
  z-index: 1;
  opacity: 1;
}

.service-about-hero-contentt {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 43px 66px 175px;
  z-index: 2;
}

.service-about-main-content {
  margin-top: 77px;
  margin-bottom: -35px;
  z-index: 2;
}

.service-about-contentt-container {
  display: flex;
  gap: 20px;
  z-index: 2;
}

.service-about-text-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 50%;
  margin-left: 0;
  z-index: 2;
}

.service-about-headline-container {
  display: flex;
  margin-top: 12px;
  flex-direction: column;
  align-items: stretch;
  font-weight: 400;
  z-index: 2;
}

.service-about-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.service-about-headline-primary {
  color: #4d4d4d;
  font-family: "Playfair Display", -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  z-index: 2;
}

.service-about-headline-secondary {
  color: rgba(247, 181, 0, 1);
  font-size: 60px;
  font-family: "Nunito", -apple-system, Roboto, Helvetica, sans-serif;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-wrap: nowrap;
  z-index: 2;
}

.service-about-description-text {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 30px;
  margin-top: 55px;
  font-family: "Montserrat", -apple-system, Roboto, Helvetica, sans-serif;
  z-index: 2;
}

.service-about-image-column {
  width: 50%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.service-about-banner-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 2;
}

@media (max-width: 1100px) {
  .service-about-hero-sectionn {
    max-height: 550px;
    padding-bottom: 100px;
  }

  .service-about-hero-contentt {
    padding: 30px 20px 120px;
  }

  .service-about-contentt-container {
    flex-direction: column;
    gap: 40px;
  }

  .service-about-text-column,
  .service-about-image-column {
    width: 50%;
    margin: 0;
    padding: 0 10px;
  }

  .service-about-background-img {
    width: 250px;
  }
}

@media (max-width: 930px) {
  .service-about-hero-sectionn {
    max-height: 430px;
    padding-bottom: 100px;
  }

  .service-about-hero-contentt {
    padding: 30px 20px 120px;
  }

  .service-about-contentt-container {
    flex-direction: column;
    gap: 40px;
  }

  .service-about-text-column,
  .service-about-image-column {
    width: 50%;
    margin: 0;
    padding: 0 10px;
  }

  .service-about-background-img {
    width: 200px;
  }

  .service-about-headline-container {
    margin-top: -20px;
  }

  .service-about-headline-primary {
    font-size: 40px;
  }

  .service-about-headline-secondary {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .service-about-description-text {
    font-size: 14px;
    margin-top: 35px;
  }
}

@media (max-width: 800px) {
  .service-about-hero-sectionn {
    max-height: 470px;
    padding-bottom: 100px;
  }

  .service-about-hero-contentt {
    padding: 30px 20px 120px;
  }

  .service-about-contentt-container {
    flex-direction: column;
    gap: 40px;
  }

  .service-about-text-column,
  .service-about-image-column {
    width: 50%;
    margin: 0;
    padding: 0 10px;
  }

  .service-about-background-img {
    width: 150px;
  }

  .service-about-headline-container {
    margin-top: 9px;
  }

  .service-about-headline-primary {
    font-size: 30px;
  }

  .service-about-headline-secondary {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .service-about-description-text {
    font-size: 12px;
    margin-top: 45px;
  }

  .service-about-hero-overlay {
    background: white;
  }
}

@media (max-width: 500px) {
  .service-about-hero-sectionn {
    max-height: 430px;
    padding-bottom: 100px;
  }

  .service-about-contentt-container {
    width: 100%;
  }

  .service-about-text-column,
  .service-about-image-column {
    width: 50%;
    margin: 0;
    padding: 0 10px;
  }

  .service-about-background-img {
    width: 100px;
  }

  .service-about-headline-container {
    margin-top: -20px;
  }

  .service-about-headline-primary {
    font-size: 25px;
  }

  .service-about-headline-secondary {
    font-size: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .service-about-description-text {
    font-size: 12px;
    line-height: 25px;
    margin-top: 40px;
    padding-right: 20px;
  }
}

@media (max-width: 394px) {
  .service-about-hero-sectionn {
    max-height: 430px;
    padding-bottom: 100px;
  }

  .service-about-contentt-container {
    width: 100%;
  }

  .service-about-text-column,
  .service-about-image-column {
    width: 50%;
    margin: 0;
    padding: 0 10px;
  }

  .service-about-background-img {
    width: 150px;
  }

  .service-about-headline-container {
    margin-top: -20px;
  }

  .service-about-headline-primary {
    font-size: 20px;
  }

  .service-about-headline-secondary {
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .service-about-description-text {
    font-size: 11px;
    line-height: 20px;
    margin-top: 30px;
    padding-right: 20px;
  }
}

@media (max-width: 500px) {
  .service-about-background-img {
    width: 70px;
  }
}

@media (max-width: 375px) {
  .service-about-background-img {
    width: 50px;
  }
}
